.md-button.chatBoot {
  line-height: 8rem;
  min-width: 0;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}
.chatBoot .material-icons {
  font-size: 46px;
}

md-input-container {
  margin-bottom: 0px;
}
.warn {
  color: red;
}
.message {
	min-height: auto;
	padding: 10px 0;
}
.message h5{
	color: white;
	margin: 0;
	text-align: center;
}
@-webkit-keyframes checkmark {
  0% {height: 0;
    width: 0;
    opacity: 1; }
  20% {
    height: 0;
    width: 22.5px;
    opacity: 1; }
  40% {
    height: 50px;
    width: 22.5px;
    opacity: 1; }
  100% {
    height: 50px;
    width: 22.5px;
    opacity: 1; }
}
@-moz-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1; }
  20% {
    height: 0;
    width: 22.5px;
    opacity: 1; }
  40% {
    height: 50px;
    width: 22.5px;
    opacity: 1; }
  100% {
    height: 50px;
    width: 22.5px;
    opacity: 1; }
  }
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1; }
  20% {
    height: 0;
    width: 22.5px;
    opacity: 1; }
  40% {
    height: 50px;
    width: 22.5px;
    opacity: 1; }
  100% {
    height: 50px;
    width: 22.5px;
    opacity: 1; } 
}
.checkmark-circle {
  width: 90px;
  height: 90px;
  position: relative;
  display: block;
  margin: 30px auto;
  vertical-align: top;
  padding: 0px;
}
.checkmark-circle .background {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid green;
    background-color: transparent;
    position: absolute; 
}
.checkmark-circle .checkmark.draw:after {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    animation-delay: 100ms;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-name: checkmark;
    -moz-animation-name: checkmark;
    animation-name: checkmark;
    -webkit-transform: scaleX(-1) rotate(135deg);
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -o-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 1;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    border-right: 3px solid green;
    border-top: 3px solid green;
    border-radius: 2.5px !important;
    content: '';
    left: 19.5px;
    top: 47px;
    position: absolute; 
}
.logout {
  position: absolute;
  right: 10px;
  top: 10px;
}
.md-button.logout {
  line-height: 47px !important;
}
.logout .material-icons {
  font-size: 20px;
  color: white;
}